* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

body {
  margin: 0px;
  font-family: sans-serif;
  background: linear-gradient(#aaaaaa,#2B4F60);
  background-image: url('./image/bg-tarjeta-02.jpg');

}

.header {
  align-items: center;
  color: white;
  display: flex;
  height: 125px;
  justify-content: space-between; /* Alinear items desde el final */
  top: 0px;
  width: 100%;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul li {
  display: inline;
  list-style: none;
}

.header__menu ul li a {
  text-decoration: none;
  color: white;
  padding: 14px 16px;
}

.header__menu li a:hover {
  text-decoration: underline;
  cursor: pointer;
}


 .form {
  display: flex;
  flex-direction:column;
  border: 2px solid rgb(204, 199, 199);
  border-radius: 40px;
  /* color: rgb(65, 63, 63); */
  padding: 60px 68px 40px;
  min-height: 280px;
  width: 400px;
  justify-content:space-between;
  position: relative;
  color: white;
  margin: auto;
  
}


footer{
  display: flex;
  align-items: center;
  height: 250px;
  width: 100%;
}

footer a img{
  text-align: start;
}

footer a{
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 30px;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

